<!DOCTYPE html>
<html lang="en">
    <head>
        <title>51AC8 Interpreter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                background: #242424;
                color: #eeeeee;
            }
            textarea {
                color: #eeeeee;
                background: #343434;
                font-family: "Deja Vu Sans Mono", "monospace";
                width: 100%;
                border: none;
                padding: 2px;
            }
            a {
                color: #aaaaee;
            }
        </style>
    </head>
    <body>
        <h1><a href="https://github.com/PyGamer0/51AC8">51AC8</a></h1><hr><br>
        FLAGS<br>
        <textarea id="flags"></textarea><br>
        HEADER<br>
        <textarea id="header"></textarea><br>
        CODE<br>
        <textarea id="code"></textarea><br>
        FOOTER<br>
        <textarea id="footer"></textarea>
    </body>
</html>

